/*  Read about this page here: https://developer.chrome.com/extensions/content_scripts.html */

#testingCode{
	font-size: 5em;
}

.text{
	width:500px;
	border:1px solid black;
}

.danmaku {
	position: absolute;
	display: inline-block;
	color: black;
	left:900px;
	height:0px;
	/*font-size: 1.4em;*/
	/*font-family: arial;*/
	/*font-weight: 700;*/
	z-index: 10000000;
}

.msg-frame{
  min-height: 2em;
  min-width: 200px;
  border-radius: 1.6em;
  margin:1em; 
  background-color: #ffffff;
  z-index: 10000001;
  /*background: linear-gradient(left, rgba(51,51,51,1), rgba(51,51,51,0.03)); 3*/
  /*background: -webkit-linear-gradient(left, rgba(51,51,51,1), rgba(51,51,51,0.03));  */
  /*background: -o-linear-gradient(right, rgba(51,51,51,1), rgba(51,51,51,0.03));  */
  /*background: -moz-linear-gradient(left, rgba(51,51,51,1), rgba(51,51,51,0.03)); /* For Firefox 3.6 to 15 */
  /*margin-top: -3em;*/
  /*-webkit-transition: 0.3s linear all;*/
}

.msg-frame img{
  width:2em;
  float: left;
  margin:0; 
  z-index: 999;
  border: 0.2em solid rgb(153,237,46);
  border-radius: 1.6em;
}

.msg-content{
  float: left;
  margin: 0em 0.4em -1em 0.2em;
  color: black;
  font-size: 1.5em;
  font-family: arial;
  font-weight: 300;
}

#enterText{
  z-index: 10000000;
}

#enterText input{

  width: 500px;
  border: 0.5em solid rgb(153,237,46);
  border-radius: 2.5em;
  padding: 15px;
}

#enterText input[type=text]:focus{
  outline:none;
}